.col.day-header-col p {
  margin-bottom: 0px;
}

.col.calendar-day {
  border-right: 1px solid lightslategray;
  padding: 0px;
  position: relative;
}

.col.calendar-day .day-label {
  height: 20%;
}

.col.calendar-day .day-label p {
  height: 100%;
  margin-right: .5rem;
  margin-bottom: 0;
  font-size: 12px;
  text-align: right;
}

.col.calendar-day:last-child {
  border-right: none;
}

.col.calendar-day.selected-day {
  background-color: darkseagreen;
}

.col.calendar-day .event-slots {
  height: 80%;
}

.col.calendar-day .event-slots .event-slot {
  height: 50%;
}

.col.calendar-day.other-month {
  background-color: lightgray;
}

.col.calendar-day.other-month.selected-day {
  background-color: gray;
}
